body{
	 font-size-adjust: 0.47; /*preservar a legibilidade da fonte*/
}
#texto{
	 font-family: "Times New Roman", Georgia, Serif; /*família de fontes*/ 
}
#texto1{
	 font-style: italic; /*estilo normal, italico ou oblíquo*/
}
#texto2{
	 font-size: 1.8em; /*tamanho das fontes*/
}
#texto3{
	 font-stretch: ultra-condensed; /*grau de expansao dos caracteres*/
}
 #texto5{
	 font-weight:900; /*peso da fone*/
 }
 #texto6{
	 font-variant:small-caps; /*letras minusculas em maiusculas*/
 }
 @font-face{ /*fontes hospedadas*/
	font-family:LeagueGothicRegular;
	src:local('League')url ('league_gothic-webfont.eot'); 
	src:url('league_gothic-webfont.eot?#iefix') format('embedded-opentype'), 
	url ('league_gothic-webfont.woff'), 
	url ('league_gothic-webfont.ttf'), 
	url ('league_gothic-webfont.svg#svgFontName')format('svg'); 
	font-weight:normal;
	font-style: normal;
}
#texto7{ font-family:LeagueGothicRegular; 
 serif; 
 }
